// TOPIC PAGE
.root {
    padding-bottom: 50px;
}
.topRowContainer {
    display: flex;
}
.topicImage {
    border: 2px solid lightgray;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    height: 100%;
    flex: 1;
}
.quote {
    display: flex;
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-style: italic;
    border: 5px solid lightgray;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 2;
}
.topicDescription {
    color: white;
    padding: 10px 20px;
}
.topicHeader {
    width: 20px;
}

// TABS
.tabContainer {
    background-color: white;
    min-height: 80vh;
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
}
.tab {
    &Active {
        background-color: lightskyblue;
        font-weight: bold;
    }
    &Inactive {
        background-color: lightgray;
        font-weight: bold;
    }
}

// NOTES
.markdownContainer {
}

// CARDS
.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &Left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.flashCardContainer {
    display: flex;
    justify-content: center;
}
.flashCard {
    display: flex;
    height: 50vh;
    width: 90%;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    margin-top: 30px;
    text-align: center;

    &Flipping {
        transform: rotateY(-180deg);
    }
    &Front,
    &Back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 30px;
        padding: 20px;
    }
    &Front {
        transform: rotateY(0deg);
        border: 3px solid rgb(253, 145, 30);
        background-color: orange;
    }
    &Back {
        transform: rotateY(180deg);
        border: 3px solid rgb(146, 227, 253);
        background-color: lightblue;
    }
    &TextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-bottom: 90px;
    }
    &ContentText {
        font-size: 30px;
        white-space: pre-wrap;
    }
}
.cardFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.activeCardIcon {
    &.active {
        color: #e97a13;
    }
    &:hover,
    &:focus {
        color: #db8019;
    }
    margin: 5px;
}

// ADD CARD
.cardInput {
    width: 50%;
    min-height: 100px;
    border-radius: 10px;
    padding: 15px;

    &Label {
        color: white;
        width: 50%;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.cardFormGroup {
    display: flex;
    flex-direction: column;
}
.addCardButton {
    border: 2px solid gray;
}

// CARD UTIL BUTTONS
.cardUtilButtonContainer {
    display: flex;
    flex-direction: row;
}
