// TOPICS PAGE
.topicsContainer {
    padding: 20px 0px;
}

// TOPIC CONTAINER
.topicContainer {
    // background-image: linear-gradient(45deg, #949494 0%, #727272 100%);
    background: slategray;
    border: solid 2px rgb(167, 186, 206);
    border-radius: 15px;
    margin-bottom: 50px;
    height: 490px;
    overflow: hidden;
    justify-content: center;

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
}
.topicHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topicTitle {
    color: white;
    padding-top: 15px;
    padding-right: 7px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}
.deleteButton {
    height: 40px;
}
.topicDescription {
    color: white;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
}

// EDIT SUBJECT PAGE
.errorAlert {
    margin-top: 20px;
}
