.mainContainer {
    top: 50px;
    width: 100%;
    padding: 50px 0 0;
    margin-bottom: 80px;
}
.logoContainer {
    width: 100%;
    text-align: center;
}
.logoImage {
    background-color: white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imagesContainer {
    justify-content: center;
    align-items: center;
    position: relative;
}
.scienceImage {
    border-radius: 30px;
    width: 250px;
    height: 250px;
}
.welcomeContainer {
    text-align: center;
    h1 {
        color: white;
        font-weight: bold;
        text-align: center;
    }
}
.typedStyle {
    font-size: 30px;
    color: white;
    align-self: center;
}
.blueShadow {
    border-radius: 30px;
    // box-shadow: 10px 10px 20px #428bc0, -10px -10px 20px #79bef0;
    -webkit-box-shadow: 5px 5px 15px 5px#79bef0;
    box-shadow: 5px 5px 15px 5px#428bc0;
}
