.pageTitle {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding-top: 8px;
    margin-right: 10px;
}
.pageTopRow {
    align-items: center;
    padding-bottom: 20px;
}
